
body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  overflow-x: hidden; /* Prevent horizontal scroll */
  height: 100%;
background-color: black; /* Ensure the background matches */
}